/*palette : 
00C1AE
2F4550
586F7C
B8DBD9
F4F4F9
*/

body {
    font-family: system-ui;
    color: #F4F4F9;
    background-color: #586F7C;
}

header {
    background-color: #D00076;
    color: #B8DBD9;
    list-style-type: none;
}

header img {
    opacity: 0;
    width: 0;
    height: 0;
}

header nav h1 {
    font-size: 200%;
    color: #B8DBD9;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
    text-decoration: none;
}

header #menu-accordeon>li {
    display: inline;
}

h1 {
    font-size: 400%;
    padding-left: 10%;
    text-decoration: underline overline #D00076;
}

.images {
    border: 5px solid #D00076;
    width: 100%;
    padding: 10%;
    font-size: xx-large;
}

.images img {
    width: 350px;
    height: 350px;
    border: 5px solid #D00076;
    padding: 0%;
}

.images img:hover {
    width: 400px;
    height: 400px;
}

.menu section {
    position: relative;
}

.menu h2 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    position: absolute;
    background-color: #B8DBD9;
    color: #586F7C;
}

.menu dl {
<<<<<<< HEAD
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
=======
    padding: 90px;
>>>>>>> 55894278e103e9a392b80428ab58b953752fc92e
}

.menu .prix {
    font-size: 150%;
}


dt {
    display: inline;

}

/* dd {
    margin-top: -20px;
    margin-bottom: 1%;
}   

footer {
    background-color:#D00076;
}