/* Selecteurs généraux */

body {
    font-family: system-ui;
    color: #F4F4F9;
    background-color: #545153;
}

h1 {
    font-size: 400%;
    padding-left: 10%;
    text-decoration: underline overline #D00076;
}

/* Sélecteurs concernant l'index */

.images {
    border: 5px solid #D00076;
    width: 100%;
    padding: 10%;
    font-size: xx-large;
}

.images img {
    width: 350px;
    height: 350px;
    border: 5px solid #D00076;
    padding: 0%;
}

.images img:hover {
    width: 400px;
    height: 400px;
}

/* Sélecteurs concernant le menu */

.menu section {
    position: relative;
}

.menu h2 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    position: absolute;
    background-color: #B8DBD9;
    font-size: large;
    color: #586F7C;
    height: 100%;
    letter-spacing: -0.2em;
}

.menu dl {
    padding-left: 90px;
    border: 3px solid #B8DBD9;
    height: 150%;
    border-left: 0;
}

.menu .prix,
.menu .nomProduit {
    display: inline-block;
    padding-right: 1%;
    text-shadow: #545153;
    top: 0;
}

.nomProduit {
    font-style: italic;
    font-size: 125%;
}

.prix {
    font-size: 100%;
}

dt {
    display: inline;
}


dd {
    margin-bottom: 1%;
}

/* Sélecteurs concernant le règlement */

.nomRegle {
    font-size: large;
    font-style: italic;
}

ol {
    background-color: rgba(208, 0, 118, 0.2)
}

/* Sélecteurs concernant les avis */

.avisClients {
    background-color: rgba(208, 0, 118, 0.2)
}

blockquote {
    padding: 1%;
}

.nomClient {
    font-size: large;
    font-style: italic;
}

img {
    padding-left: 2%;
}

form {
    background-color: rgba(208, 0, 118, 0.2)
}

textarea {
    resize: auto;
    max-height: 100px;
    max-width: 40%;
}

#pageAvis h2 {
    background-color: rgba(208, 0, 118, 0.2);
    width: fit-content;
    text-decoration: underline;
}

#form {
    background-color: rgba(208, 0, 118, 0.2);
    width: fit-content;
    margin-top: 2%;
    padding: 1%;
}

textarea {
    width: 60em;
}

#form>* {
    margin: 1%;
}

textarea {
    display: block;
}

/* Sélecteurs concernant le header */

header {
    background-color: #D00076;
    color: #B8DBD9;
    list-style-type: none;
}

header img {
    opacity: 0;
    width: 0;
    height: 0;
}

header nav #titre-header {
    font-size: 200%;
    color: #B8DBD9;
    text-align: center;
    margin: 0;
    text-decoration: none;
    display: inline;
}

header #menu-accordeon li ul li {
    display: inline-block;
    margin-right: 1%;
    margin-bottom: 1%;
    padding: 2px;
    border: 1px solid #B8DBD9;
    background-color: #F4F4F9;
}

header #menu-accordeon>li {
    display: inline;
}

/* Sélecteurs concernant le footer */

footer {
    background-color: rgb(208, 0, 118);
}